body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(400deg, darkblue, indigo, purple);
    color: turquoise;
    padding: 20px;
}
.header-container {
    display: flex;
    justify-content: space-between; /* Platz zwischen linksbündig und rechtsbündig */
    align-items: center; /* Vertikale Ausrichtung */
}
.header-left {
    flex: 7; /* Nimmt den verbleibenden Platz von links */
}
.header-right {
    flex: 2; /* Nimmt den verbleibenden Platz von rechts */
    text-align: right; /* Inhalte rechtsbündig */
}

.navbar {
    
    overflow: hidden;
}
/* Links im Navigationsmenü */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Dropdown-Container */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Stil für den Button, der das Dropdown öffnet */
.dropdown .dropbtn {
    cursor: pointer;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    font-family: inherit;
    margin: 0;
}
/* Dropdown-Inhalt */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links im Dropdown-Inhalt */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}
/* Sichtbar machen des Dropdown beim Hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Stil für den Hover-Effekt */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #81dab8;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
section {
    padding: 20px 0; /* Oberer und unterer Abstand */
}
h1 {
    margin: 0;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
footer {
    display: flex;
    padding: 10px;
    background: linear-gradient(400deg,purple, indigo,darkblue);
    color: turquoise;
}
.footer-left {
    flex: 1; /* Nimmt den verbleibenden Platz von links */
}
.footer-right {
    padding: 15px;
    flex: 1; /* Nimmt den verbleibenden Platz von rechts */
    text-align: right; /* Inhalte rechtsbündig */
}
.footer-right a {
    color: rgb(14, 231, 155); /* Linkfarbe */
    margin-left: 20px; /* Abstand zwischen den Links */
    text-decoration: none; /* Unterstreichungen entfernen */
}
.footer-right a:hover {
    text-decoration: underline; /* Unterstreichung bei Hover */
}